body {
	margin: 0 auto;
	overflow-x: hidden;
}

/*HEADER*/

.header {
	font-family: 'Inconsolata', serif;
	height: 76px;
	margin-top: 0;
	border-bottom: 1px solid #abaeb2;
	margin: 0 auto;
}

.logo {
	width: 300px;
	height: 150px;
	float: left;
	margin-top: -25px;
	margin-left: -180px;
}

.media {
	display: inline;
}

.media .nav {
	background-color: #174c4f;
	width: 1200px;
	height: 75px;
	margin-right: -170px;
	margin-left: -50px;
	float: right;
}

.media .nav li {
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	width: 300px;
	height: 75px;
	padding-top: 25px;
	display: inline-block;
}

.nav li:hover {
	background-color: #29898e;
	color: #ffffff;
	box-shadow:0 2px 4px rgba(0,0,0,.5);
	height: 75px;
}

.nav li a {
	text-decoration: none;
	color: #ffffff;
}

.nav li a:hover {
	background-color: #29898e;
	color: #ffffff;
}

.border {
	border-right: 1px solid #abaeb2;
}

/*MAIN*/
.main {
	font-family: 'Yantramanav', serif;
	background-image: url("img/background.png");
	padding-top: 50px;
	padding-bottom: 70px;
}

.main #title {
	background-color: #d0d5db;
	color: #174c4f;
	font-size: 30px;
	width: 100%;
	height: 60px;
	padding-top: 15px;
	padding-left: 650px;
	letter-spacing: 1.5px;
}

.grid {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 320px;
}

.titl {
	height: 60px;
	background-color: #d0d5db;
	font-size: 22px;
	border: 1px solid #d0d5db;
	border-radius: 2px;
	padding-top: 19px;
	padding-left: 15px;
	text-align: left;
}

.box1 {
	width: 900px;
	margin-top: 4px;	
}

.box1 a {
	text-decoration: none;
	color: #174c4f;
}

.box1 #arrow {
	width: 55px;
	height: 30px;
	float: right;
	padding-right: 15px;
}

.theory {
	background-color: #ffffff;
	color: #000000;
	width: 900px;
	height: auto;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
}

.theory {
	display: block;
}

/*FOOTER*/
.footer {
	background-color: #174C4F;
	color: #ffffff;
	font-family: 'Inconsolata', serif;
	height: 75px;
	margin-bottom: -70px;
}

.footer #info {
	float: left;
	margin-left: -150px;
	margin-top: 30px;
	margin-bottom: -20px;
}

.footer #copyright {
	float: right;
	margin-right: -100px;
	margin-top: 20px;
	margin-bottom: 10px
}

#infoarena {
	color: #ffffff;
	text-decoration: none;
}

#infoarena:hover {
	color: #ffffff;
	text-decoration: underline;
}



