body {
	margin: 0 auto;
	overflow-x: hidden;
}

/*HEADER*/

.header {
	font-family: 'Inconsolata', serif;
	height: 76px;
	margin-top: 0;
	border-bottom: 1px solid #abaeb2;
	margin: 0 auto;
}

.logo {
	width: 300px;
	height: 150px;
	float: left;
	margin-top: -25px;
	margin-left: -180px;
}

.media {
	display: inline;
}

.media .nav {
	background-color: #174c4f;
	width: 1200px;
	height: 75px;
	margin-right: -170px;
	margin-left: -50px;
	float: right;
}

.media .nav li {
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	width: 300px;
	height: 75px;
	padding-top: 25px;
	display: inline-block;
}

.nav li:hover {
	background-color: #29898e;
	color: #ffffff;
	box-shadow:0 2px 4px rgba(0,0,0,.5);
	height: 75px;
}

.nav li a {
	text-decoration: none;
	color: #ffffff;
}

.nav li a:hover {
	background-color: #29898e;
	color: #ffffff;
}

.border {
	border-right: 1px solid #abaeb2;
}

/*MAIN*/

.main {
	background-image: url('img/background.png');
	font-family: 'Yantramanav', serif;
	height: 612px;
	border: 1px solid #ffffff;
}

.main #title {
	background-color: #d0d5db;
	color: #174c4f;
	font-size: 30px;
	width: 100%;
	height: 60px;
	margin-top: 50px;
	padding-top: 15px;
	padding-left: 490px;
	letter-spacing: 1.5px;
}

.quizContainer {
	background-color: #ffffff;
	border: 1px solid #174c4f;
	width: 800px;
	height: 400px;
	margin-top: 50px;
	margin-left: 350px;
}

h1 {
    font-family:'Yantramanav', serif;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    font-family:'Yantramanav', serif;
    font-size: 2em;
    margin-bottom: 10px;
}
input[type=radio] {
    border: 0px;
    width: 13px;
    height: 13px;
    margin-right: 10px;
}
p {
    font-family: 'Yantramanav', serif;
}
/* Quiz Classes */
/* .quizContainer {
    background-color: lightgoldenrodyellow;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}*/

.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    background-color: #d0d5db;
    /*clear: both;*/
    color: #174c4f;
    font-family:'Yantramanav', serif;
    position: fixed;
    margin: auto;
    margin-left: 320px;
    padding-top: 10px;
}
.question {
    font-family:'Yantramanav', serif;
    font-size: 22px;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    padding-top: 10px;
    text-align: center;
    color: #174c4f;
}
.quizMessage {
    background-color: #d0d5db;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Yantramanav', serif;
    color: #174c4f;
    margin-bottom: 4px;
}
.choiceList {
    font-family: 'Yantramanav', serif;
    color: #23797f;
}
.result {
    width: 30%;
    height: auto;
    background-color: #d0d5db;
    color: #174c4f;
    margin: auto;
    margin-bottom: 4px;
    text-align: center;
    font-family:'Yantramanav', serif;
}

/*FOOTER*/

.footer {
	background-color: #174C4F;
	color: #ffffff;
	font-family: 'Inconsolata', serif;
	height: 75px;
	margin-bottom: -70px;
}

.footer #info {
	float: left;
	margin-left: -150px;
	margin-top: 30px;
	margin-bottom: -20px;
}

.footer #copyright {
	float: right;
	margin-right: -100px;
	margin-top: 20px;
	margin-bottom: 10px
}

#infoarena {
	color: #ffffff;
	text-decoration: none;
}

#infoarena:hover {
	color: #ffffff;
	text-decoration: underline;
}